:root { 
--gray_50_66:#f9f9f966; 
--deep_purple_A100_01:#c19bff; 
--black_900_3f:#0000003f; 
--white_A700_99:#ffffff99; 
--black_900_01:#000000; 
--black_900_00:#00000000; 
--black_900:#0d0d0d; 
--gray_500_01:#a2a2a2; 
--white_A700_19:#ffffff19; 
--deep_purple_A100:#9479ff; 
--gray_600:#7e7e7e; 
--gray_400:#b3b3b3; 
--gray_500:#9e9e9e; 
--white_A700_c1:#ffffffc1; 
--blue_gray_100:#d9d9d9; 
--blue_800:#005bc7; 
--gray_500_c1:#929292c1; 
--gray_800:#3e3e3e; 
--blue_500:#178cff; 
--gray_900:#1b1b1b; 
--black_900_4f:#0000004f; 
--blue_gray_100_19:#d9d9d919; 
--black_900_a5:#000000a5; 
--white_A700_66:#ffffff66; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--black_900_ea:#000000ea; 
--indigo_900:#0d125c; 
--indigo_700:#2d32a9; 
--white_A700:#ffffff; 
}